image: Ubuntu

stack: jdk 11

branches:
  only:
    - main

build: off


install:

  - java -jar app-ibank.jar -P:profile=test &

test_script:
  - chmod +x gradlew
  - ./gradlew test --info -Dselenide.headless=true